/* You can add global styles to this file, and also import other style files */
#content{
	padding-top: 40px;
}

body
{
	background-color: #edf1f7;
}

.jumbotron{padding:1rem;;}


h2{
	font-size: 2rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
