
<span *ngIf="authService.isAdmin() " >

<mat-toolbar   *ngIf="authService.isAuthenticated()"     color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon  (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Welcome</h1>
    <span class="menu-spacer"></span>
   

  </mat-toolbar-row>

  

</mat-toolbar>


<mat-sidenav-container    *ngIf="authService.isAuthenticated()" >
  <mat-sidenav  [(opened)]="opened"   mode="side"  #sidenav>
    <mat-nav-list>

           <a *ngIf="authService.isAuthenticated()" mat-list-item routerLink="/job/test-list"> Home </a>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Report
      </mat-panel-title>
      <mat-panel-description>
        Report History
      </mat-panel-description>
    </mat-expansion-panel-header>

   
 <a *ngIf="authService.isAuthenticated()" mat-list-item routerLink="/job/transaction"> Transactions </a>
 <a *ngIf="authService.isAuthenticated()" mat-list-item routerLink="/job/deposit"> Deposit </a>
 <a *ngIf="authService.isAuthenticated()" mat-list-item routerLink="/job/withdraw"> Withdraw </a>


  </mat-expansion-panel>
  <mat-expansion-panel  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Profile
      </mat-panel-title>

      <mat-panel-description>
       
      </mat-panel-description>
    </mat-expansion-panel-header>
      <a  *ngIf="authService.isAuthenticated()" mat-list-item routerLink="/job/kyc-document"> Verification </a>
      <a *ngIf="authService.isAuthenticated()" mat-list-item routerLink="/job/user-profile">Profile </a>
      <a *ngIf="authService.isAuthenticated()" mat-list-item routerLink="job/change-password">  Change Password </a>
  </mat-expansion-panel>
</mat-accordion>

 
     
      
     
      <a *ngIf="authService.isAuthenticated()" mat-list-item (click)="sidenav.toggle()" href="" (click)="logout()" mat-list-item>Logout</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

</span>



<span *ngIf="!authService.isAdmin() " >

<mat-toolbar   *ngIf="authService.isAuthenticated()"     color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon  (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Welcome Admin</h1>
    <span class="menu-spacer"></span>
   

  </mat-toolbar-row>

  

</mat-toolbar>


<mat-sidenav-container    *ngIf="authService.isAuthenticated()" >
  <mat-sidenav  [(opened)]="opened"   mode="side"  #sidenav>
    <mat-nav-list>

           <a *ngIf="authService.isAuthenticated()" mat-list-item routerLink="/job/test-list"> Home </a>
           <a *ngIf="authService.isAuthenticated()" mat-list-item routerLink="/job/user/list-user"> Users </a>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
       All Report
      </mat-panel-title>
      <mat-panel-description>
       All Report History
      </mat-panel-description>
    </mat-expansion-panel-header>

   
 <a *ngIf="authService.isAuthenticated()" mat-list-item routerLink="/job/transaction"> All Transactions </a>
 
 <a *ngIf="authService.isAuthenticated()" mat-list-item routerLink="/job/deposit"> All Deposit </a>
 <a *ngIf="authService.isAuthenticated()" mat-list-item routerLink="/job/withdraw"> All Withdraw </a>


  </mat-expansion-panel>
  <mat-expansion-panel  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Profile
      </mat-panel-title>

      <mat-panel-description>
       
      </mat-panel-description>
    </mat-expansion-panel-header>
      <a  *ngIf="authService.isAuthenticated()" mat-list-item routerLink="/job/kyc-document"> Verification </a>
      <a *ngIf="authService.isAuthenticated()" mat-list-item routerLink="/job/user-profile">Profile </a>
      <a *ngIf="authService.isAuthenticated()" mat-list-item routerLink="job/change-password">  Change Password </a>
  </mat-expansion-panel>
</mat-accordion>

 
     
      
     
      <a *ngIf="authService.isAuthenticated()" mat-list-item (click)="sidenav.toggle()" href="" (click)="logout()" mat-list-item>Logout</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

</span>



  